<!-- Aqui vamos a usar directiva de los tags de Angular es un nuevo objeto que representa a un
     nuevo grupo de formulario, usamos la directiva formControl  -->
<form
  [formGroup]="fg"
  (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)"
  >
     <div class="form-group">
         <label for="nombre">Nombre</label>
         <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." 
          [formControl]="fg.controls['nombre']" > 
          <!--
              Entonces vamos a hacer un "ngfor" y vamos a hacer "let r of SearchResults", y vamos a renderear la sugerencia.
              Es decir, vamos a tener que tener una variable que va a ser observada,"searchResults", hacer un "array de strings" que 
              vamos a poner las sugerencias de lo que nos están tipeando acá arriba.
           -->  
           <ul>
               <li *ngFor="let r of SearchResults;">{{r}}</li>
           </ul>       
         <!-- <div *ngif="!fg.controls['nombre'].valid">nombre invalido</div> nombre requerido</div> vamos a crear validaciones especificas-->
         <div *ngif="fg.controls['nombre'].hasError('required')">nombre requerido!</div>
         <div *ngif="fg.controls['nombre'].hasError('invalidNombre')">nombre invalido!</div>
         <div *ngif="fg.controls['nombre'].hasError('minLonNombre')">nombre debe tener al menos {{minLongitud}} de largo!</div>
        
     </div>
     <div class="form-group">
         <label for="Imagen Url">Imagen Url</label>
         <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..."
          [formControl]="fg.controls['url']"
         >
     </div>
     <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value, url.value)" *ngif="fg.valid">Guardar!</button>
</form>
